{% extends 'base.html.twig' %}

{% block title 'Nouveau Pin' %}

{% block body %}
	<h1>Create Pin</h1>
		{{ form_start(monForm) }}

			{{ form_widget(monForm)}}
			<input type="submit" value="Create Pin">

	{{ form_end(monForm) }}
{% endblock %}
