{% extends 'layouts/base.html.twig' %}

{% block title 'Nouveau Pin' %}

{% block body %}
	<div class="row">
		<div class="col-6 mx-auto">
			<h1>Create Pin</h1>
				{{ form_start(monForm) }}

					{{ form_widget(monForm)}}
					<input class="btn btn-primary btn-block " type="submit" value="Create Pin" formnovalidate>

				{{ form_end(monForm) }}
		</div>
	</div>
	
{% endblock %}